@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 14px;
}

.header {
  box-shadow: #6379b5 0px 3px 8px;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: -webkit-linear-gradient(left, white, #6379b5); */
  background-color: #6379b5;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

.line {
  background-color: #000839;
  height: 0.3rem;
  width: 3.5rem;
  transform: rotateZ(90deg);
}

.header img {
  height: 4rem;
}

.logo p {
  padding-top: 0.5rem;
  font-size: 1.4rem;
  color: #000839;
}

.main {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #f0faff;
}

.wrapper {
  position: relative;
  max-width: 650px;
  width: 100%;
  border-radius: 12px;
  padding: 25px 45px 120px;
  background: #6379b5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* SIGNUP FORM */
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 5px);
}

form .input-box input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #2c2b2d;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 200px;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #71b7e6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
}
form .button input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .button input:hover {
  border-radius: 8px;
  background-color: rgb(255, 250, 250);
  border: 1px solid #2c2b2d;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/* css for login form */

.form.login {
  position: absolute;
  left: 50%;
  bottom: -89%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.wrapper.active .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form.login header {
  color: #333;
  opacity: 0.6;
}
.wrapper.active .form.login header {
  opacity: 1;
}
.wrapper.active .signup header {
  opacity: 0.6;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 45px;
}
.form.login .input-box {
  width: 99%;
  display: flex;
  height: 60px;
  outline: none;
  border: none;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

.form.login .input-box i {
  padding: 10px 5px;
  height: 20px;
  font-size: larger;
}

.form.login input {
  border: 1px solid #aaa;
}
.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}
form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}
form .checkbox label {
  cursor: pointer;
  color: #fff;
}
form a {
  color: blue;
  text-decoration: none;
  float: right;
}
form a:hover {
  text-decoration: underline;
}
form input[type="submit"] {
  /* margin-top: 10px; */
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.form.login input[type="submit"] {
  background: #6379b5;
  color: #fff;
  border: none;
}

.ib .error,
.error1,
.error2 {
  background-color: rgba(198, 82, 82, 0.5);
  font-size: large;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.ib .error1 {
  background-color: rgba(21, 165, 88, 0.5);
  font-size: large;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

/* forgot pass  */

.form.password {
  position: relative;
  max-width: 650px;
  width: 100%;
  border-radius: 12px;
  padding: 25px 45px 120px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* background: #fff; */
  background: #fff;
}

.form.password header {
  color: #333;
  opacity: 1;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.wrapper2 .form.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form.password .input-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

.form.password input {
  border: 1px solid #aaa;
}
.form.password input:focus {
  box-shadow: 0 1px 0 #ddd;
}

.form.password .button {
  height: 45px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.form.password .button input {
  width: 100%;
  border-radius: 8px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background: rgb(99, 121, 181);
  color: #fff;
  border: none;
}

.form.password .button input:hover {
  border-radius: 8px;
  background-color: rgba(99, 121, 181, 0.8);
  border: 1px solid #2c2b2d;
  border-bottom-width: 2px;
}

/* new password */

.form.password .input-box i {
  padding: 10px 5px;
  height: 20px;
  font-size: larger;
}
